body {
    margin:25px;
}


.buttonsDiv{
	height: 300px;
	border: none;
	top: 50%;
}

.divButtonsRegister{
	padding-top: 20px;
	text-align:right;
}

.divButtonSearch{
	text-align:right;
}

.divSearch{
	border: solid #dddddd;
	border-width: 0 1px 1px 0;	
}

.backLink{
	font-size: 20px;
	font-weight: bold;
	padding-bottom: 2px;
}

.concertTopDiv{
	border: solid #dddddd;
	border-width: 1px;
	height: 120px;
}

.singerDiv{
	font-weight: bold;
	text-align: center;
	padding-top: 2px;
	text-decoration: underline;
}

.locationDiv{
	font-weight: italic;
	font-size: 12px;
	padding-top: 3px;
	text-align: center;
}

.priceDiv{
	font-size: 15px;
	color: red;
	font-weight: bold;
	clear:both;
	margin-top: 30px;
	text-align: center;
	vertical-align: middle;
}

.loginModalDiv{
	width: 30%;
	text-align: center;
	margin-left: -15%;
}

.detailLink{
	font-size: 15px;
	text-align:center;
	font-weight: bold;
}

.resultsDiv{
	max-height: 422px;
	height: 422px;
	min-height: 211px;
	overflow-y: scroll; 
}

.loginSpan1{
	font-size: 20px;
	font-weight: bold;
}

.loginSpan2{
	font-size: 15px;
}

.createAccountDiv{
	font-weight: bold;
	font-size: 16px;
	padding-bottom: 25px;
}

.facebookLoginLink{
	background-image: url("/contents/img/facebookLogin.png");
	background-color: #3b5998;
	color: #FFFFFF;
}

.createAccountModalDiv{
	text-align: center;
}

#user-info{
	width: 210px;
	height: 75px;
}

#user-info img{
	width: 50px;
	height: 60px;