<div class="pageTitle">{{pageTitle}}</div>
<div class="backLink"><a href='#'><<</a></div>
<br/>
<form id="concertDetailForm" ng-init="showConcert()" ng-submit="addConcert()" >
  <fieldset>
    <legend>Edit Concert</legend>
    <div class="large-6 columns">
		<label>Singer
			<input type="text" placeholder="Singer" ng-disabled="isEditButtonVisible" ng-model="concert.singer" >
		</label>
	</div>
	<div class="large-6 columns">
		<label>Location
			<input type="text" placeholder="Location" ng-disabled="isEditButtonVisible" ng-model="concert.location" >
		</label>
	</div>
	<div class="large-3 columns">
		<label>Price
			<input type="text" placeholder="Price" ng-disabled="isEditButtonVisible" ng-model="concert.price" >
		</label>
	</div>
	<div class="large-4 columns">
      <label>Gender
        <select ng-model="concert.gender" ng-disabled="isEditButtonVisible" >
          <option value="rock">Rock</option>
          <option value="blues">Blues</option>
          <option value="country">Country</option>
          <option value="jazz">Jazz</option>
        </select>
      </label>
    </div>
	<div class="large-2 columns">
		<label>Date
			<input type="text" placeholder="Date" ng-model="concert.date" ng-disabled="isEditButtonVisible" >
		</label>
	</div>
	<div class="large-2 columns">
		<label>Time
			<input type="text" placeholder="Time" ng-model="concert.time" ng-disabled="isEditButtonVisible" >
		</label>
	</div>
	<div class="large-12 columns">
      <label>Additional Info
        <textarea placeholder="Additional Info" ng-model="concert.additionalInfo" ng-disabled="isEditButtonVisible" ></textarea>
      </label>
    </div>
	
	<div class="large-12 columns divButtonsRegister">
		<button id="editButton"   class="button tiny secondary [radius round]" ng-show="isEditButtonVisible" ng-click="editButtonEvent()" >Edit</button>
		<button id="updateButton" class="button tiny [radius round]" type="submit" ng-hide="isEditButtonVisible" ng-click="updateButtonEvent()" >Update</button>
		<button id="cancelButton" class="button tiny [radius round] alert" ng-hide="isEditButtonVisible" ng-click="cancelButtonEvent()">Cancel</a>
	</div>
  </fieldset>
</form>

<!-- javascript utils for page -->
<script src="/app/controllers/EditConcertController.js"></script>