<div class="pageTitle">{{pageTitle}}</div>
<div class="backLink" go-back></div>
<div class="large-12 columns" ng-init="searchByAuthor()">
	<!-- Thumbnails -->
	<div class="large-12 columns resultsDiv">
	    <div class="row">
			<div ng-repeat="concert in concerts | orderBy:'date'" class="large-4 small-6 columns">
				<div class="concertTopDiv">
					<div class="singerDiv">{{concert.singer}}</div>
					<br/> 
					<div class="locationDiv">{{concert.location}} - {{concert.date | date}}</div>
					<br/>
					<div class="priceDiv">{{concert.price | currency}}</div>
				</div>
				<div class="panel" ng-model="EditConcertController" style="height: 50px; text-align:center">
					<div class="row">
						<a href="#/editConcert/{{concert.id}}" class="detailLinkEdit" ng-click="detailConcertClick(concert)"><i class="fi-page-edit size-21"></i></a>
						<a class="detailLinkRemove" ng-click="deleteConcert($event, concert)"><i class="fi-trash size-21 removeTrash"></i></a>
					</div>		
				</div>				
			</div>
		</div>
	</div>
</div>