<div class="backLink"><a href='javascript:history.back()'><<</a></div>
<div class="large-12 columns" ng-init="findAll()">
	<!-- Side Bar -->
	<div class="large-4 small-12 columns divSearch">

		<div class="large-12 columns">
			<label><b>Singer</b>
				<input type="text" ng-model="concert.singer" placeholder="John Mayer, AC/DC ...">
			</label>
		</div>

		<div class="large-12 columns">
			<label><b>Gender</b>
				<input type="text" ng-model="concert.gender" placeholder="Rock, Blues, Jazz, Samba ...">
			</label>
		</div>
		<div class="large-12 columns divButtonSearch">
			<button class="button tiny [radius round]" ng-click="searchBy()">Search</button>
		</div>
	</div>

	<!-- Thumbnails -->
	<div class="large-8 columns resultsDiv">
	    <div class="row">
			<div ng-repeat="concert in concerts" class="large-4 small-6 columns">
				<div class="concertTopDiv">
					<div class="singerDiv">{{concert.singer}}</div>
					<br/> 
					<div class="locationDiv">{{concert.location}}</div>
					<br/>
					<div class="priceDiv">${{concert.price}}</div>
				</div>
				<div class="panel" style="height: 50px; text-align:center">
					<a href="#/editConcert/{{concert.id}}" data-reveal-id="myModal" data-reveal class="detailLink">Details</a>
				</div>
			</div>
		</div>
	</div>
</div>    