<div class="backLink"><a href='javascript:history.back()'><<</a></div>
<div class="large-12 columns" ng-init="findAll()">
	<!-- Side Bar -->
	<div class="large-4 small-12 columns divSearch">

		<div class="large-12 columns">
			<label><b>Singer</b>
				<input type="text" ng-model="searchBySinger" placeholder="John Mayer, AC/DC ...">
			</label>
		</div>		
	</div>

	<!-- Thumbnails -->
	<div class="large-8 columns resultsDiv">
	    <div class="row">
			<div ng-repeat="concert in concerts | orderBy:'date' | filter:searchBySinger" class="large-4 small-6 columns">
				<div class="concertTopDiv">
					<div class="singerDiv">{{concert.singer}}</div>
					<br/> 
					<div class="locationDiv">{{concert.location}} - {{concert.date | date}}</div>
					<br/>
					<div class="priceDiv">{{concert.price | currency}}</div>
				</div>
				<div class="panel" style="height: 50px; text-align:center">
					<a data-reveal-id="detailConcertModal" ng-click="detailConcertClick(concert)" data-reveal class="detailLink">Details</a>
				</div>
			</div>
		</div>
		<div class="reveal-modal detailConcertModalDiv" id="detailConcertModal" data-reveal>
			<div class="large-12 columns">
				<span class="detailSpan1">{{concert.singer}}</span> <br/><span class="detailSpan2">in {{concert.location}}</span>
			</div>
			<div class="large-5 columns imgDetailDiv">
				<div class="large-12 coluns imgDetailDiv" >
					<img src="http://placehold.it/300x240&text=[img]"></img>
					<div class="goingDiv">I am going 
						<a ng-show="isGoing" style="color:green; font-weight:bold" ng-click="goingToConcert(false)"><i class="fi-checkbox size-24"></i></a>
						<a ng-hide="isGoing" style="color:red; font-weight:bold" class="notGoing" ng-click="goingToConcert(true)"><i class="fi-prohibited size-24"></i></a>
					</div>
				</div>
			</div>
			<div class="large-12 colums informationDiv">
					<div class="itensDetail">
						<span class="title">Location: </span>{{concert.location}} - {{concert.date | date}}
					</div>
					<div class="itensDetail">
						<span class="title">Price: </span> {{concert.price | currency }}
					</div>
					
			</div>
			<div class="large-12 columns likeDiv">
				<a><i class="fi-like size-24" ></i></a>  
				<a class="dislikeButton" ><i class="fi-dislike size-24"></i></a>
			</div>
			<div>
				<a class="close-reveal-modal">×</a>
			</div>
		</div>
	</div>
</div>